
 @import url('https://fonts.googleapis.com/css2?family=Aboreto&family=Charmonman&family=Life+Savers&family=Maven+Pro&display=swap'); 


* {
	margin: 0;
	padding: 0;
	/* box-sizing: content-box; */
	/* overflow-x: hidden; */
  /* overflow-y: hidden ; */
}
/* nav */
.brand {
text-decoration: none;
}
.list-center{
  display: flex;
  align-items: center;
  
}
.item{
  font-family: Maven Pro;
  font-weight: lighter;
}
.nav-right{
  color: white;
  font-family: Maven Pro;
  font-size: 15px;
  padding-right: 2em;
}
.link{
  color: white;
  text-decoration: none;

}
.logo{
  color: white;
  text-decoration: none;
  font-family: Charmonman;
   font-size: 20px;
}
/* first section  */

.image{
  max-width: 100%;
  height: 10%;
  /* object-fit: cover; */
}
/* second section */
.man-image{
  max-width: 39em
}
.paragraph{
  /* display: flex; */
  font-size: 19px;
  font-family: life+saver;
  font-size: small;
  margin-top: 3em;
  width: 30em;


}
.flex{
display: flex;
flex-direction: row;
gap: 3em;
margin-left: 20em;
margin-bottom: 2em;
}
.heading{
  display: flex;
  align-items: center;
  margin-left: 12em;
  font-family:topic;
  /* font-family: Lato,sans-serif; */
  font-size: 50px;
  margin-bottom: 1em;
  text-decoration: underline;
  text-decoration-thickness: 1px;
  font-weight:lighter;
  padding-bottom: 5px;
  text-underline-offset: 10px;
}
.title{
font-weight: bold;
font-size:20px ;
letter-spacing: 0.1em;
/* margin-top: 3em; */
}
  

 .info_section{
  background-image: url(../../images/Raku.webp);
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;


} 

.info_heading{
  margin-top: 2em;
  /* color: white; */
  margin-left: 20em;
  font-family: Aboreto;
  font-size:35px ;
  text-decoration:underline;
  text-decoration-thickness: 1px;
  text-underline-offset: 10px;
}

.info_supheading{
  margin-left: 20em;
  margin-top: 2em;
  font-size:22px;
  text-decoration:italic;
  color:rgb(146, 150, 150);
  font-weight: 100;
}

.info_details{
  display: flex;
  flex-direction: row;
  gap:6em;

}
.info_address{
color: white;
margin-top: 3.5em;
font-size: 14px;
}
.topic{
  font-size: 25px;
  font-family: Aboreto;
}

.change{
  color:rgb(88, 85, 85);
}
.time{
  color:rgb(88, 85, 85);
  margin-left: 2em;
}
/* press */
.press_info{
  font-size: 28px;
}
.break{
  margin-left: 3em;
}
.press{
 margin-top: 7em;
}
.press_notes{
  width: 59em;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 8em;
  align-items: center;
  margin-left: 23em;
}
.press_topic{
  text-decoration: underline; 
   text-decoration-thickness: 1px;
   text-underline-offset: 10px;
  font-family:Aboreto ;
  margin-bottom: 2em;
  margin-left: 27em;

}

