
@import url('https://fonts.googleapis.com/css2?family=Charmonman&family=Life+Savers&family=Maven+Pro&display=swap'); 


* {
	margin: 0;
	padding: 0;
	box-sizing: content-box;
	/* overflow-x: hidden; */
  /* overflow-y: hidden ; */
}
.brand {
text-decoration: none;
}
.list-center{
  display: flex;
  align-items: center;
  
}
.item{
  font-family: Maven Pro;
}
.nav-right{
  color: white;
  font-family: Maven Pro;
  font-size: 15px;
  padding-right: 2em;
}
.link{
  color: white;
  text-decoration: none;

}
.logo{
  color: white;
  text-decoration: none;
  font-family: Charmonman;
   font-size: 20px;
}

.sec-image{
  max-width: 100%;
  object-fit: cover;
}